<header class="bg-white">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <a href="#" class="-m-1.5 p-1.5">
      <span class="sr-only">ActionLabs</span>
      <img class="h-12 w-auto" src="assets/logo/Action Labs.png" alt="" />
    </a>

    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-primary"
        >Exchange rate</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Other tools</a
      >
    </div>
  </nav>
</header>

<!--
  Here I would use the router to find the active component
  Skipping for simplicity
-->
<app-currency-exchange></app-currency-exchange>

<footer class="bg-primary fixed inset-x-0 bottom-0 p-4">
  <p class="text-center text-md text-white">Copyright 2022 - Action Labs</p>
</footer>
